body {
    background-color: rgb(129, 41, 144);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.homepage {
    background-image: url('mosaic.png');
    background-position: 50% 85%;
    background-repeat: no-repeat;
    background-size: 50vh;
}

.buzz {
    background-image: url('mosaic.png'), url('mosaic.png');
    background-repeat: no-repeat;
    background-size: 28vw;
    background-position: 120% -50%, -20% 170%

}

.teachers {
    background-color: white;
    background-image: url('fusionmosaic.jpg');
    background-repeat: repeat;
    background-size: 100vw;
    background-position: 50% -80%;
}


h1, h2, h3, p {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.main_title {
    background-color: inherit;
    padding: 1vw;
    border-radius: 30%;
    width: auto;
    display: inline-block;
    justify-self: center;
    margin: auto;

}

p {
    color:  rgb(182, 201, 41);
    font-size: 1.25rem;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-content: center;

}


.card {
    background-color: rgb(238, 32, 92)
}

.card-title {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    color: rgb(129, 41, 144)
}

.card-text {
    color: whitesmoke
}

a { 
    color: rgb(238, 32, 92); 
}
.btn {
    color: whitesmoke;
    background-color: rgba(182, 201, 41, 70);
    border-color: rgba(182, 201, 41, 100)
}

.btn:hover {
    color: whitesmoke;
    border-color: whitesmoke;
}
a:hover {
    color: rgb(250, 166, 26);
}

.top_header {
    color: rgb(238, 32, 92);
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.main_header {
    color: rgb(250, 166, 26);
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.sub_header {
    color: rgb(182, 201, 41);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    letter-spacing: 2vw;
    padding-left: 2vw;
}

.icon {
    width: 40px;
    height: 40px;
    display: block;
}

.iframe {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 75vh;
}
